<!doctype html>
<html>
<head>
</head>

<body>
    <h1>What's your name?!</h1>

    <form method="post" action="/start">
      <input type="text" name="newPlayer" placeholder="Enter Name">
      <input type="submit" value="Start!">
    </form>

</body>
</html>